@import '@/style/base.scss';
.main{
    // height: 500px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    .leftBlock{
        width: calc(100% - #{$asideWidth});
        margin-right: 20px;
        .item{
        }
    }
    .rightBlock{
        width: $asideWidth;
    }
}

@media screen  and (max-width: 1240px) {
    .main{ 
        width: auto;
        padding: 0 10rem;
    }
  }