@import "../../style/base.scss";
@import "../../style/style.scss";

.content {
    height: 60px;
    line-height: 60px;
    background-color: $themeColor;
    // color: $textColor;
    position: relative;
    top: 0;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .homeBtn {
        width: 60px;
        font-size: 26px;
    }
    .setting {
        width: 100px;
        font-size: 26px;
        display: flex;
        justify-content: space-between;
    }
    .navActive {
       
    }
    .navBtn {
        height:48px;
        line-height: 48px;
        border-radius: 10px;
        @extend .hover;
    }
    .document{
        position: relative;
        @extend .hover;
        .secondaryBtn{
            position: absolute;
            top: -200px;
            width: 90px;
            background-color: $themeColor1;
            border-radius: 14px;
            padding: 10px;
            z-index: 0;
            .articelsSecondItem {
                @extend .hover;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                height: 34px;
                margin-bottom: 10px;
                border-radius: 10px;
                user-select: none;
                background-color: $themeColor2;
                color: $textColor;
              }
              .sedActive{
                background-color: pink;
              }
        }
    }
}
