// 圆角
$bigRadius: 20px;
$midRadius: 12px;

// 间距
$space: 20px;

$hoverColor: var(--hoverColor, rgb(98, 164, 218));

// ---------黑色-----------
// 主色
$themeColor: var(--themeColor, rgb(12, 29, 27));
// 副色1
$themeColor1: var(--themeColor1, rgb(22, 54, 51));
// 副色2
$themeColor2: var(--themeColor2, rgb(39, 95, 89));