@import '@/style/base.scss';
@import '@/style/style.scss';

.card{
   height: 160px;
   position: relative;
   .name{
    color: $hoverColor;
   }
   .text {
    margin: 0;
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 20px;
    line-height: 34px;
  }
   .img{
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 200px;
   }
}